<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div ng-app="author" ng-controller="authorController">
		<form ng-submit="submit()" action="http://127.0.0.1:8081">
			<label>Name: </label>
			<input type="text" ng-model="name" placeholder="Enter the author's name." required>
			<br />
			<label>Birth date: </label>
			<input type="date" ng-model="birthDate" required>
			<br />
			<input type="submit" value="Submit" />
		</form>
	</div>
	<script>
		var app = angular.module("author", []);
		app.controller("authorController", function($scope, $http) {
			angular.element(document).ready(function() {
				$scope.submit = function() {
					console.log($scope.name);
					console.log($scope.birthDate);
					var author = { name: $scope.name, birthDate: $scope.birthDate };
					$http.post('test', author);
				};
			});
		});
	</script>
</body>
</html>